:root {
    --axent: #2196f3;
    --main: #2f303a;
    --section: #f5f4fa;
    --background: #ffffff;
    --title: #212121;
    --text: #757575;
    --firstlogo: #000000;
    --maintext: #ffffff;
    --contacts: rgba(255, 255, 255, 0.6);
    --border: #eeeeee;
    --header-shadow: #ececec;
}
h1, h2, h3, h4, h5, h6, p, ul, li, button, img, a {
    margin: 0;
    padding: 0;
}
a {
    color: var(--firstlogo);
    text-decoration: none;
}
ul {
    list-style: none; 
}
body {
    font-family: "Roboto", sans-serif;
}

