.container {
  width: 1260px;
  margin: 0 auto;
  padding: 0 15px;
 
}
.header-container {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  margin-top: 7px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.header-item {
  display: flex;
  gap: 40px;
  justify-content: center;
  padding-right: 350px;
  padding-left: 100px;
}
.icon-header{
  display: block;
  width: 16px;
  height: 12px;
  fill: #757575;
  margin-right: 10px;
  position: relative;
  bottom: -1px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.icon-header:hover{
fill: #2196F3;
}
.icon-header-wrap{
  width: 10px;
  height: 16px;
  position: relative;
  top: -2px;
}
.list-item {
  display: flex;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}
.navigation {
  display: flex;
  align-items: center;
}

.link-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
}

.link-item:hover {
  color: #2196f3;
}

.header-adrr {
  display: flex;
  justify-content: end;
  gap: 30px;
}
.link-itemm {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
}
.link-itemm:hover {
  color: #2196f3;
}

.section-list {
  display: block;
  background-image: linear-gradient(to left, rgba(47, 48, 58, 40%),  rgba(47, 48, 58, 40%)), url(./imges/Img\ \(9\).jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 300px;
  padding-bottom: 300px;
  margin-bottom: 50px;
}
.section1 {
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 50px;
}
.what-we-do {
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 80px;

}
.our-work{
  position: relative;
  
}
.our-work h3{
  position: absolute;
  top: 224px;
  color: white;
  background-color: #2F303ACC;
  width: 100%;
  height: 70px;
}
.h3-work{
  display: flex;
  padding-top: 27px;
  justify-content: center;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 3%;
}
.icons{
    width: 70px;
    height: 70px;
    background-color: #F5F4FA;
}
.h4-list {
  font-family: "Roboto";
  font-weight: 700px;
  font-size: 14px;
  line-height: 1.2;
  padding-bottom: 15px;
}
.p-lists {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #757575;
}
.our-team {
  display: block;
  background-image: url(./imges/fection\ bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.list {
  display: flex;
  color: #ffffff;
  padding-top: 10px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
}
.footer-navigation{
  display: flex;
  color: #ffffff;
  padding-top: 10px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
}

.service-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}


.service-item:nth-child(1)::before{
  content: "";
  display: block;
width: 270px;
height: 120px;
background-color: #F5F4FA;
background-repeat: no-repeat;
background-position: center;
background-image: url(./imges/antenna\ 1.png);
margin-bottom: 30px;
}
.social-item{
  fill: rgb(175, 177, 184);
  border-radius: 50%;
  padding: 12px;
  color: rgb(175, 177, 184);
}
.social-icons{
  display: flex;
  gap: 10px;
justify-content: center;
}
.social-item:hover{
  background-color: #2196F3;

}
.social-item:hover .svg-icon{
  fill: white;
}
.svg-icon{
  display: block;
  fill: rgb(175, 177, 184);
  width: 20px;
  height: 20px;
}
.clients-section{
  padding: 0 auto;
  margin: 0 20px;
  margin-bottom: 100px;
  margin-top: 100px;
  text-align: center;

}
.clients-icons{
display: flex;
justify-content: center;
gap: 30px;
padding-top: 40px;

}
.clients-h1{
  font-family: "Roboto";
  font-weight: 700;
  size: 36px;
  line-height: 100%;
  letter-spacing: 3%;
}
.clients-item{
padding: 15px 30px;
border: 1px solid hsla(227, 6%, 70%, 1);
border-radius: 4%;

}
.clients-item:hover{
  border: 1px solid hsla(207, 90%, 54%, 1);
}
.icon-itm{
  display: block;
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
}





.footer {
  background-color: #2f303a;
  padding: 60px 0;
  color: white;
}

.container-footer {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  
  
}


.footer-left {
  max-width: 300px;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  color: white;
}

.logo-accent {
  color: #2196f3;
}

.address {
  margin-top: 20px;
  font-style: normal;
  line-height: 1.6;
}

.contact-link {
  color: #FFFFFF99;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  text-decoration: none;
  display: inline-block;
  margin-top: 5px;
}

.contact-link:hover {
  text-decoration: underline;
}


.footer-right {
  margin-top: 20px;
  margin-left: 120px;
}

.join-title {
  font-weight: bold;
  margin-bottom: 20px;
}

.social-list {
  list-style: none;
  display: flex;
  gap: 10px;
}

.social-link {
  display: inline-block;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height: 44px;
  font-size: 20px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.social-link:hover {
  background-color: #2196f3;
}

@media (max-width: 768px) {
  .container-footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-right {
    margin-top: 40px;

  }
}
/*
.svg-icon2{
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff13;
  fill: white;
  margin-bottom: 25px;
  padding: 10px;
  
}

.svg-icon12{
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 25%;
  background-color: #ffffff13;
  fill: white;
  margin-bottom: 25px;
  padding: 10px;
  
}

.svg-icon:hover{
fill: #fff;
background-color: rgb(33, 150, 243);
border-radius: 50%;
}
.svg-icon2:hover{
fill: #fff;
background-color: rgb(33, 150, 243);
border-radius: 40%;
}

.svg-icon12:hover{
fill: #fff;
background-color: rgb(33, 150, 243);
border-radius: 25%;
}

.svg-icon1{
   display: inline-flex;
  width: 44px;
  height: 44px;
  fill: rgb(175, 177, 184);
  margin-bottom: 25px;
  padding: 10px;
}

.svg-icon1:hover{
  fill: #fff;
background-color: rgb(33, 150, 243);
border-radius: 25%;
}

.social-icons{
  display: flex;
  justify-content: center;
  gap: 10px;
}
*/
.service-item:nth-child(2)::before{
  content: "";
  display: block;
width: 270px;
height: 120px;
background-color: #F5F4FA;
background-repeat: no-repeat;
background-position: center;
background-image: url(./imges/clock\ 1.png);
margin-bottom: 30px;
}

.service-item:nth-child(3)::before{
  content: "";
  display: block;
width: 270px;
height: 120px;
background-color: #F5F4FA;
background-repeat: no-repeat;
background-position: center;
background-image: url(./imges/diagram\ 1.png);
margin-bottom: 30px;
}

.service-item:nth-child(4)::before{
  content: "";
  display: block;
width: 270px;
height: 120px;
background-color: #F5F4FA;
background-repeat: no-repeat;
background-position: center;
background-image: url(./imges/Group.png);
margin-bottom: 30px;
}

 .footer-icons{
 border-radius: 50%;
  background-color: #FFFFFF1A;
 }
 .svg-footer-wrap{
  display: block;
  fill: white;
 }
 .footer-social{
  margin-top: -108px;
  margin-left: 300px;
  
 }
 .footer-icons-wrap{
  display: flex;
  margin-top: 20px;
  gap: 10px;
 }

.about {
  display: flex;
  justify-content: space-between;
}
.team {
  display: flex;
  justify-content: space-between;
}


.footer-adr {
  color: white;
}

.adr {
  color: #ffffff99;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}
.tel-adr {
  color: #ffffff99;
  padding-top: 12px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}

.button {
  display: block;
  width: 200px;
  height: 50px;
  margin-left: 42%;
  margin-top: 43px;
  color: white;
}

.h1 {
  display: flex;
  justify-content: center;
  color: white;
  position: relative;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 6%;
  padding-left: 380px;
  width: 950px;
}



.h2 {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
}
.h3 {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
}
.name {
  display: flex;
  padding-bottom: 12px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  justify-content: center;
}
.team-img {
  padding-bottom: 17px;
}
.team-list {
  background-color: #fff;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 30%), 0 1px 1px 0 rgba(0, 0, 0, 30%);
  padding-bottom: 30px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.work {
    display: flex;
  font-family: "Roboto";
  padding-bottom: 13px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  justify-content: center;
  color: #757575;
}
.h4-footer-join{
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: white;
  padding-bottom: 10px;
}

.btn-close{
position: absolute;
right: 0px;
border-radius: 50%;
padding: 10px;
margin: 7px;
background-color: #fff;
border: 1px solid #0000001A;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 581px;
  width: 528px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}
.modal h2{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.h2-modal{
  font-family: "Roboto";
  font-weight: 700px;
  font-size: 20px;
  letter-spacing: 3%;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.no-scrolle {
  overflow: hidden;
}


















/*PORTFOLIO*/




.container-portfolio {
  width: 1260px;
  margin: 0 auto;
  padding: 0 15px;
  outline: solid skyblue;
}

.header-container-portfolio {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  margin-top: 7px;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 1px 1px 1px 1px rgba(236, 236, 236, 1), 1px 1px 1px 1px rgba(236, 236, 236, 1);
}

.header-logo-portfolio {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}


.header-item-portfolio {
  display: flex;
  gap: 40px;
  justify-content: center;
  padding-right: 350px;
  padding-left: 100px;
}

.list-item-portfolio {
  display: flex;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}

.navigation-portfolio {
  display: flex;
  align-items: center;
}

.link-item-portfolio {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
}

.link-item-portfolio:hover {
  color: #2196f3;
}

.header-adrr-portfolio {
  display: flex;
  justify-content: end;
  gap: 30px;
}

.link-itemm-portfolio {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
}

.link-itemm-portfolio:hover {
  color: #2196f3;
}
.link-itemm-port {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
}
.link-itemm-port:hover {
  color: #2196f3;
}
.icon-header-port{
  display: block;
  width: 16px;
  height: 12px;
  fill: #757575;
  margin-right: 10px;
  position: relative;
  bottom: -1px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.icon-header-port:hover{
  fill: #2196F3;
  }
  .icon-header-wrap-port{
    width: 10px;
    height: 16px;
    position: relative;
    top: -2px;
  }
.prt-first-section{
  display: block;
  padding-top: 100px;
  padding-bottom: 60px;
}

.btn-list-prt{
  display: inline-flex;
  gap: 12px;
 margin-left: 240px;
}
.btn-item-prt{
  display: flex;
  background-color: #F5F4FA;
}

.button-portfolio{
  display: flex;
  border-radius: 4px;
  width: 130px;
  height: 38px;
  justify-content: center;
 align-items: center;
  border: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 3%;
  color: #212121;
}

.button-portfolio:hover{
  background-color: #2196F3;
  color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0;
}


.box-prt{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: auto;
  padding: 50px;

}

.li-box-portfolio{
  display: grid;
   box-shadow: 1px 1px 1px 1px rgba(238, 238, 238, 1), 1px 1px 1px 1px rgba(238, 238, 238, 1);
}
.li-box-portfolio:hover{
  box-shadow: 1px 4px 6px 0 rgba(11, 9, 9, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 15px;
}

.main-sec-prt{
  display: block;
  padding-bottom: 70px;
}

.h4-prt{
  display: flex;
 padding-top: 15px;
 padding-bottom: 10px;
  color: #212121;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 6%;
  padding-left: 23px;


}
.h6-prt{
  display: flex;
  color: #757575;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 3%;
  padding-left: 23px;
  padding-bottom: 15px;
}

































.footer-adr-portfolio {
  color: white;
}

.adr-portfolio {
  color: #ffffff99;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}
.tel-adr-portfolio {
  color: #ffffff99;
  padding-top: 12px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}
.footer-portfolio {
  margin: 0 auto;
  padding: 0 20px;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo-portfolio {
font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.text-portfolio {
  display: flex;
  padding-top: 23px;
  padding-bottom: 12px;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
}
.btn-list-prt{

}